.input-nombre,
.input-edad {
    padding: 5px;
    margin: 5px;
}

#edad-mayor,
#edad-menor,
#promedio-edad {
    margin-top: 15px;
    margin-left: 15px;
}

#form {
    margin-top: 15px;
    margin-left: 10px;
}

#form > input {
    margin: 5px;
}